DATABASE_URL=postgresql://postgres:password@localhost:5432/my_fastapi_db
# Could also be postgresql+psycopg2://postgres:password@localhost:5432/my_fastapi_db to initialize with psycopg2 instead of psycopg3
JWT_SECRET=uuid-string-of-some-description
CORS_ORIGIN=http://localhost:5173